<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Departments management</title>
</head>
<body>
<div>
 <h1> Departments List </h1>

 <table border="1" class="table table-striped table-responsive-md">
 <thead>
 <tr>
 <th>Titulo</th>
 <th>Noticia</th>
 <th>Data</th>
 
 </tr>
 </thead>
 <tbody>
 <tr th:each="dep : ${ListDeps}">
 <td th:text="${dep.Titulo}"></td>
 <td th:text="${dep.corpo_noticia}"></td>
  <td th:text="${dep.data_publicacao}"></td>
 
 
 <td th:text="${dep.id_noticia}"></td>
 
 </tr>
 </tbody>
 </table>

</div>
</body>
</html>